.navlink {
    justify-content: center;
    font-weight: 500;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#imagem-config {
    padding-right: 4%;
}

.botao-ativo {
    background-color: #FDAE17;
    border-radius: 6px;
    padding: 7px;
    margin: 0 0 0 -10px;
    cursor: pointer;
  }

.texto-link {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    margin-left: 7px;
}