.navlink {
    justify-content: center;
    font-weight: 500;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#imagem-config {
    padding-right: 4%;
}

.botao-ativo {
    background-color: #FDAE17;
    border-radius: 5px;
    padding: 7px;
    margin: 0 0 0 -10px;
  }
